@font-face {
	font-family: 'ABC-Whyte';
	src: url('fonts/ABCWhyteInktrapVariable-Trial.ttf') format('truetype');
}


@font-face {
	font-family: 'GT-America-md';
	src: url('fonts/GT-America-Mono-Medium-Trial.otf') format('opentype');
}


