body {
    background-color: #181717;
    margin: 0;
    padding: 0;
    font-family: "GT-America", sans-serif;
    font-size: 1rem;
    cursor: url('white-circle.ico'), auto;
}



.header {
  /* margin-left: 180px;
  margin-top: 30px; */
  display: flex;
  justify-content: space-between;
  color: white;
  margin:0 2rem;
}

/* .bigTitle{
  border: 1px solid red;
  padding-top: 0;
} */

.aaa{
  display: flex;
  margin-top: 3rem;
  /* border:1px solid red; */
}

.aaa div{
  margin-left: 2rem;
}

/* .bigTitle
{
margin-left: -7rem;
margin-top: -5rem;
}

.subTitle
{
margin-left: 35rem;   
margin-top: -12.5rem;
 }
      
.subSubTitle 
{
margin-left: 8rem;
margin-top: -11rem;
} */



.menu {
position:absolute;
margin-top: 10rem;
margin-left: 5rem;
}

/* navigation.css */

.menu ul {
    list-style: none; 
    padding: 0; 
  }
  
.menu ul li a {
    color: white; 
    text-decoration: none; 
    
  }

li{
margin-top: 0.8rem;
}
/* main.css */

    



.img-container {
    text-align: center;
  
}

.about-red
{
margin-top: -2rem;
margin-left: 13.5rem;

}

.artwork-yellow-orange
{
margin-top: -14rem;
margin-right: 30rem;

}
.runway-blue-purple
{
margin-top: -30rem;
margin-left: 58.5rem;

}

.tickets-green
{
margin-top: 5rem;
margin-left: 30rem;
}
    