*{
    border: 1px solid red;
}

.ticket-sec2{
    /* margin-top: 10rem; */
    display: flex;
    /* justify-content: space-around; */
    width:100vw;
}

.ticket-visual{
    background-color: grey;
    /* flex: 1; */
}

.ticket-payment{
    width: 50vw;
}